extends ../../views/layout

block content
	.row
		each form, i in deviceConfig
			form.form-horizontal(action='/admin/index', method='post', id='deviceConfigForm_#{id[i]}', class='deviceConfigForm')
				.col-lg-6
					.panel.panel-default
							// Form Name
							.panel-heading Device #{i+1} Settings
							.panel-body
								// Text input
								input#clientId(name='id' type='hidden' value='#{id[i]}')
								each val, index in form
									// Text input
									.form-group
										label.col-md-4.control-label(for='#{val.name}') #{val.label}
										|   
										|   
										.col-md-8
											if val.type == "textarea"
												textarea.form-control(id='#{val.name}', name='#{val.name}', type='#{val.type}', placeholder='#{val.placeholder ? val.placeholder : ""}', required='') #{val.value}
											else
												input.form-control.input-md(id='#{val.name}', name='#{val.name}', type='#{val.type}', placeholder='#{val.placeholder ? val.placeholder : ""}', required='' value='#{val.value}')
								.form-group
									label.col-md-4.control-label(for='')
									|   
									.col-md-8
										button.btn.btn-primary(class='deviceConfigForm-button', name='' type='submit') Apply Changes
					
	script(type="text/javascript").
		$(document).ready(function () {
			$('form.deviceConfigForm').on('submit',function(e){
				$(this).find('#deviceConfigForm-button').attr("disabled", true).attr("class","btn btn-success").text("Applying Changes");
				e.preventDefault();
				var url = $(this).attr('action');
				var that = this;
				$.ajax({
					type: "POST",
					url: url,
					data: $(this).serialize(),
					success: function(data){
						if (data && data.success) {
							$(that).find('input').attr("disabled", true);
							$(that).find('textarea').attr("disabled", true);
							$(that).find('.deviceConfigForm-button').replaceWith( "<a href='/admin/index' class='btn btn-success'>Changes Applied Successfully</a>");
						}
						else {
							$(that).find('.deviceConfigForm-button').replaceWith( "<a href='/admin/index' class='btn btn-danger'>Fail to apply Changes</a>" );
						}
					}
				});
			});
		});
