meta(charset='utf-8')  
meta(http-equiv='X-UA-Compatible', content='IE=edge')  
meta(name='viewport', content='width=device-width, initial-scale=1')   
meta(name='description', content='')   
meta(name='author', content='')   
title #{title}
link(href='/dist/style.css', rel='stylesheet')
// Bootstrap Core CSS
link(href='/libs/bootstrap/css/bootstrap.min.css', rel='stylesheet')
// MetisMenu CSS
link(href='/libs/metisMenu/dist/metisMenu.min.css', rel='stylesheet')
// Timeline CSS
link(href='/libs/timeline/timeline.css', rel='stylesheet')
// Custom CSS
link(href='/libs/sb-admin/dist/css/sb-admin-2.css', rel='stylesheet')
// Morris Charts CSS
link(href='libs/morrisjs/morris.css', rel='stylesheet')
// Custom Fonts
link(href='../bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
//if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    |         
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
// jQuery
script(src='../libs/jquery/jquery.min.js')
script(src='../libs/jquery-validate/jquery.validate.min.js')