<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>MQTT Server Settings</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="clientId">Client Id</label>  
  <div class="col-md-4">
  <input id="clientId" name="clientId" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">MQTT Client Id</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="address">Url Address</label>  
  <div class="col-md-4">
  <input id="address" name="address" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">MQTT Url Address</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="port">Port</label>  
  <div class="col-md-4">
  <input id="port" name="port" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">Port</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="protocolId">Protocol Id</label>  
  <div class="col-md-4">
  <input id="protocolId" name="protocolId" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">MQTT Protocol Id</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="protocolVersion">Protocol Version</label>  
  <div class="col-md-4">
  <input id="protocolVersion" name="protocolVersion" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">MQTT Protocol Version</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="connectTimeout">Connect Timeout</label>  
  <div class="col-md-4">
  <input id="connectTimeout" name="connectTimeout" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">MQTT Connect Timeout</span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="topics">Topics</label>  
  <div class="col-md-4">
  <input id="topics" name="topics" type="text" placeholder="" class="form-control input-md" required="">
  <span class="help-block">MQTT Topics</span>  
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="radios">MQTT Client Mode</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="radios-0">
      <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
      Debug
    </label>
	</div>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for=""></label>
  <div class="col-md-4">
    <button id="" name="" class="btn btn-success">Apply Changes</button>
  </div>
</div>

</fieldset>
</form>
