.ct-app {
    .navbar {
        margin-bottom: 0;
    }

    .navbar-brand {
        padding: 0;

        img {
            height: 100%;
        }
    }

    .navbar-top-links {
        .dropdown-user {
            right: auto;
        }
    } 
    
    @media (min-width: 768px) {
        .navbar-top-links {
            .dropdown-user {
                right: 0;
            }
    }   
    }
}
