#page-wrapper {
    &.sidebar-hidden {
        margin-left: 0;
    }
    &:before {
        display: block;
        content: ' ';
        height: 15px;
    }
}

// State design
.sensor-value {
    margin-left: 10px;
    padding: 2px 15px;
    border: 2px solid;  
    border-radius: 5px;
}

.sensor-chart {
    padding-top: 15px;
}