@color-orange: #f0ad4e;
@color-light-yellow: #8a6d3b;
@color-green: #5cb85c;
@color-light-blue: #31708f;
@color-light-red: #a94442;

// Page themes 
.vibrate {
    .panel-colors(@color-orange);
}

.temp {
    .panel-colors(@color-light-red);
}

.magnet {
    .panel-colors(@color-green);
}

.accel {
    .panel-colors(violet);
}
.humid {
    .panel-colors(@color-light-blue);
}
.acoustic {
    .panel-colors(@color-light-yellow);
}

.panel-colors(@color: grey) {
    .input-threshhold {
        .panel-default {
        > .panel-heading {
            background: @color;
            color: #fff;
        }

        .btn-primary {
            background: @color;
            color: #fff;
            border: @color;

            &:hover {
                background: lighten(@color, 5%) ;
                color: #fff;
            }
        }
    }
    }
}