﻿.navbar-header
	if model 
		button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
			span.sr-only Toggle navigation
			|                     
			span.icon-bar
			|                     
			span.icon-bar
			|                     
			span.icon-bar

	a.navbar-brand(href="/" title="Conneted Things | Connecting the unconnected")
		img(src="/images/connected-things-logo.png" alt="Back Home" data-no-retina="" class=" attachment-18")
ul.nav.navbar-top-links.navbar-right
	include user-header.jade