﻿if model
	.navbar-default.sidebar(role='navigation')
		.sidebar-nav.navbar-collapse
			ul#side-menu.nav                  
				li(class="#{model.currentDevice === undefined? '': 'active'}")
					a(href='#')
						i.fa.fa-sitemap.fa-fw
						|  Devices
						span.fa.arrow
					|                             
					ul.nav.nav-second-level
						each device, deviceId in model.devices
							li(class="#{model.currentDevice !== deviceId ? '': 'active'}")
								a(href='/?deviceId=#{device.deviceId}')
									| #{device.deviceName}
									span.fa.arrow
								|              
								ul.nav.nav-third-level
									each sensor in device.sensors
										li
											a.sidebar-sensor-link(href='/sensor?deviceId=#{device.deviceId}&sensor=#{sensor.sensorType}')
												| #{sensor.sensorType} 
												span.fa.arrow


script(type="text/javascript").
		$(document).ready(function(){
			 $('#side-menu').on('shown.metisMenu', function(event){
				var url = window.location,
					href = $(event.currentTarget).find('ul li.active a').attr('href');

				href ? url.href = href : '';
			 });
		});