﻿li.dropdown
	a.dropdown-toggle(data-toggle='dropdown', href='#')
		i.fa.fa-user.fa-fw
		|   
		i.fa.fa-caret-down
	|                     
	ul.dropdown-menu.dropdown-user
		if (authenticated)           
			li
				a(href='/admin/index')
					i.fa.fa-gear.fa-fw
					|  Settings
			|                         
			li.divider
			|                         
			li
				a(href='/logout')
					i.fa.fa-sign-out.fa-fw
					|  Logout
		else
			li
				a(href='/login')
					i.fa.fa-sign-out.fa-fw
					|  Login