doctype html
html(lang='en')
	head
		include Components/Header/htmlhead.jade
	body
		#wrapper.ct-app
			// Navigation
			nav.navbar.navbar-default.navbar-static-top(role='navigation')
				// /.navbar-header
				include Components/navbar-header.jade
				// /.navbar-default.sidebar
				include Components/navbar-sidebar.jade
				// /.navbar-static-side
			|         
			#page-wrapper(class='#{!model ? "sidebar-hidden" : ""}')
				block content
				//include sensor.jade
			// /#page-wrapper
		// /#wrapper
	footer
		include Components/Footer/footerjs.jade
