﻿li.collapsed.active(data-toggle='collapse', data-target='#account')
	a(href='#')
		i.fa.fa-user.fa-lg
		|  Account 
		span.arrow                 
ul#account.sub-menu.collapse
	if (authenticated)
		li.active: a(href='/logout') Sign Out
	else
		li.active: a(href='/login') Sign In
li
	a(href='#')
		i.fa.fa-users.fa-lg
		|  Admin
li.collapsed.active(data-toggle='collapse', data-target='#products')
	a(href='#')
		i.fa.fa-dashboard.fa-lg
		|  Dashboard
		span.arrow                 
ul#products.sub-menu.collapse
	each val in ["Device1","Device2","Device3","Device4","Device5"]
		li.active
			a.sensor-link(href='/#{val}', id='#{val}') #{val}                                 
