extends ../../views/layout

block content
	.row
		.card.card-container
			img#profile-img.profile-img-card(src='//ssl.gstatic.com/accounts/ui/avatar_2x.png')
			| &#x9;&#x9;
			p#profile-name.profile-name-card
			| &#x9;&#x9;
			form.form-signin(action='/login', method='post')
				span#reauth-email.reauth-email
				| &#x9;&#x9;&#x9;
				input#inputEmail.form-control(name='username', type='email', placeholder='Email address', required='', autofocus='')
				| &#x9;&#x9;&#x9;
				input#inputPassword.form-control(name='password', type='password', placeholder='Password', required='')
				| &#x9;&#x9;&#x9;
				input(name='redirectUrl', type='hidden', value='#{redirectUrl}')
				#remember.checkbox
					label
						input(type='checkbox', value='remember-me')
						|  Remember me
				| &#x9;&#x9;&#x9;
				button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') Sign in
			// /form
			a.forgot-password(href='#')
				| Forgot the password?
		// /card-container
	// /container
