﻿extends ../../views/layout

block content
	div(class='#{model.sensorType}')
		.row.sensor-chart
			.col-lg-12
				.panel.panel-default
					.panel-heading
						h4
							| Sensor #{model.sensorName}
							if model.sensorConfig.min < model.sensorConfig.val && model.sensorConfig.max > model.model.sensorConfig.val
								span.sensor-value.alert-success #{model.sensorValue} 
								span.units(style='padding-left:5px;') #{model.sensorConfig.unit}
							else
								span.sensor-value.alert-danger #{model.sensorConfig.val} #{model.sensorConfig.unit}
								span.units(style='padding-left:5px;') #{model.sensorConfig.unit}

					.panel-body		
						.col-lg-12
							#graph-box

		.row.input-threshhold.hidden
			.col-lg-5
				form(action='/sensor/thresholds', method='post' id='sensor-thresholds')
					input(name='deviceId' type='hidden' value='#{model.devices[model.currentDevice].deviceId}')
					input(name='sensorType' type='hidden' value='#{model.sensorType}')
					.form-group
						.panel.panel-default
							.panel-heading
								h4.control-label Sensor Thresholds in #{model.sensorConfig.unit}
							
							.panel-body
									.row
										.col-xs-5
											.input-group
												span.control-label.input-group-addon(for='min') Min  
												input.form-control(name='min' type="number" step="any" value='#{model.sensorConfig.min}')
										.col-xs-5
											.input-group
												span.form-group.control-label.input-group-addon(for='min') Max
												input.form-control(name='max' type="number" step="any" value='#{model.sensorConfig.max}')
										.col-xs-2
											.text-center
												button.btn.btn-primary(class='deviceConfigForm-button', name='' type='submit')
													i.fa.fa-check					
										
	script(type="text/javascript").
		$(document).ready(function(){
			var pageChart = app.chart({
				model: !{JSON.stringify(model)},
				type: '#{model.sensorType}',
				sensorType: !{JSON.stringify(model.devices[model.currentDevice].sensors)},
				data: !{JSON.stringify(model.sensorData)},
				deviceId : '#{model.deviceId}',
				resolution : #{model.resolution}
			});

			pageChart.then(function(chart){
				$('.input-threshhold').removeClass('hidden');
			});

			$('#sensor-thresholds').on('submit',function(e){
				e.preventDefault();
				var url = $(this).attr('action');
				var that = this;
				$.ajax({
					type: "POST",
					url: url,
					data: $(this).serialize(),
					success: function(data){
						if (data.success) {
							document.location.reload();
						} else {
							alert('Server Error');
						}
					}
				});
			});	
		});