﻿extends ../../views/layout

block content
	.panel.panel-default
		.panel-heading
			.row
				h4.col-lg-12 Dashboard for #{model.devices[model.currentDevice].deviceName}

		.panel-body
			.col-lg-12
			if model.currentDevice != undefined
				each item in model.devices[model.currentDevice].sensors
					.col-lg-4.col-md-6
						div(id="#{item.sensorType}" data-min="#{item.min}" data-max="#{item.max}" data-value="#{item.val}" class="panel panel-green")
							.panel-heading
								.row
									.col-xs-3
										i(class="fa fa-5x fa-dashboard")
									|                                 
									.col-xs-9.text-right 
										.huge #{item.val}
										span.unit #{item.unit}
										|                                     
										div #{item.label}
							|                         
							a(href='/sensor?deviceId=#{model.devices[model.currentDevice].deviceId}&sensor=#{item.sensorType}')
								.panel-footer
									span.pull-left View Details
									|                                 
									span.pull-right Threshold (#{item.min}-#{item.max})
										i.fa.fa-arrow-circle-right
									|                                 
									.clearfix

	script(type="text/javascript").
		$(document).ready(function(){
			var dashboard = app.dashboard({
				deviceId : '#{model.deviceId}'				
			});
		});