// Bootstrap Core JavaScript
script(src='../libs/bootstrap/js/bootstrap.min.js')
// Metis Menu Plugin JavaScript
script(src='../libs/metisMenu/dist/metisMenu.js')
// Morris Charts JavaScript
script(src='../libs/raphael/raphael-min.js')     
script(src='../libs/morrisjs/morris.min.js') 
//script(src='../js/morris-data.js')
// Custom Theme JavaScript
script(src='../libs/sb-admin/dist/js/sb-admin-2.js')
script(src='../dist/app.js')